.container2 {
    width: 80vw;
    margin: auto;
}
.buttonStyle{
    width: 100%;
}
#resultColorAndText {
    display: none;
    text-align: center;
    background: blue;
    color: #ffffff;
    border-radius: 5px;
}





@media (min-width: 1200px) {
    .container2 {
        width: 40vw;
        margin: auto;
    }
    
}
